@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
  background-color: black;
  font-family: 'Orbitron', sans-serif;
   overflow: auto;          /* enables scrolling */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevent horizontal overflow */
}


body::-webkit-scrollbar {
  display: none;            /* Chrome, Safari, Opera */
}

[data-aos] {
  transform-origin: center center; /* keeps animations centered */
  will-change: transform;
}

